<p style="color: green"><%= notice %></p>

<h1>Tracks</h1>

<div id="tracks">
  <% @tracks.each do |track| %>
    <%= render track %>
    <p>
      <%= link_to "Show track details", track %>
    </p>
  <% end %>
</div>

<%= link_to "create track", new_track_path %>
