<div id="<%= dom_id user %>">
  <p>
    <strong>User_Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>User_Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>User_Password:</strong>
    <%= user.password %>
  </p>

</div>
